*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #001f25;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.dots{
    position: relative;
    width: 300px;
    height: 300px;
    
    
}
.dots span{
    top: 50px;
    left: 50px;
    position: absolute;
    justify-content: center;
    width: 50%;
    height: 50%;
    transform: rotate(calc(36deg*var(--i)));
}
.dots span::before{
  
    content:'';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid #00efff;
    box-shadow: 0 0 20px #00efff,
    -10px -10px 0 #00efff,
    -10px -10px 20px #00efff,
    10px 10px 0px #00efff,
    10px 10px 20px #00efff,
    10px -10px 0px #00efff,
    10px -10px 20px #00efff,
    -10px 10px 0px #00efff,
    -10px 10px 20px #00efff;
    animation: rot 5s linear infinite;
    animation-delay: calc(-0.25s*var(--i));
    transition: 2s;
    transform-origin: 20px;
}
.dots:hover span::before{
    box-shadow: 0 0 20px #00efff,
    -100px -100px 0 #00efff,
    -100px -100px 20px #00efff,
    100px 100px 0px #00efff,
    100px 100px 20px #00efff,
    100px -100px 0px #00efff,
    100px -100px 20px #00efff,
    -100px 100px 0px #00efff,
    -100px 100px 20px #00efff;
    transform-origin: 50px;
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}